#rb1 {
  position: absolute;
  width: 579px;
  height: 318px;
  left: 850px;
}

#rb2 {
  position: absolute;
  width: 579px;
  height: 318px;
  right: 225px;
}

#hg {
  position: absolute;
  width: 1400px;
  height: 600px;
}
.event-banner {
  display: flex;

  /* column-gap: 28px; */
}
/* #tieu-de {
  text-align: center;
} */

#heading-title {
  position: absolute;
  font-family: "iCiel Koni Black";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 100px;
  color: #ffffff;
  display: inline;
  left: 474px;
  width: 501px;
  height: 100px;
  top: 100px;
  z-index: 3;
}

.banner {
  position: relative;
  width: 270px;
  height: 350px;
  top: 306px;
  left: 179px;
  margin-right: 28px;
  background-color: #ffffff;
  border-radius: 20px;
}

#pgimg {
  width: 256px;
  height: 180px;
  border-radius: 20px 20px 0 0;
}

.pgDescription {
  padding-left: 24px;
}

#event-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 0px;
  align-items: center;
  color: #23221f;
}

#event-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 0px;
  color: #6c7272;
  align-items: center;
}

#event-date {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 0;
  align-items: center;
  color: #444444;
  display: flex;
}

#event-date > img {
  width: 18px;
  height: 18px;
}


#event-price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 14px;
  color: #fa7d09;
  letter-spacing: 0.005em;
  align-items: center;
}

.link-to-ed {
  background-color: #ff000a;
  text-align: center;
  margin-right: 120px;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 8px rgba(165, 15, 15, 0.45));
  box-shadow: 0 4px 0 0 #BD000B;
}

.link-ed {
  padding: 13px;
  font-family: "iCiel Koni Black";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 2px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
