#tittle {
  position: absolute;
  width: 280px;
  height: 100px;
  margin-left: 270px;
  margin-top: 117px;
  color: white;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 50px;
  font-family: "iCiel Koni Black";
}

#damsenlogo {
  position: absolute;
  margin-left: 142px;
  margin-top: 127px;
}

#home_background {
  position: absolute;
  width: 115vh;
  height: 95vh;
  top: 31px;
  left: 524px;
}

#news_board {
  position: absolute;
  width: 145vh;
  height: 56vh;
  top: 258px;
  left: 149px;
}

#pink_hair {
  position: absolute;
  width: 32vh;
  top: 247px;
  height: 63vh;
  right: 545px;
}

#event_description {
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 510;
  font-size: 18px;
  line-height: 27px;
  color: #23221f;
  opacity: 0.7;
  text-align: left;

  top: 286px;
  left: 217px;
}

#event-mark {
  position: absolute;
  top: 420px;
  left: 210px;
  
}

#event-mark > #event-line {
  list-style: none;
  padding: 5px;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 550;
font-size: 20px;
line-height: 20px;
text-align: center;
}

#line-mark {
  width: 23px;
  height: 25px;
  padding-right: 5px;
}