#tittle {
  position: absolute;
  width: 280px;
  height: 100px;
  margin-left: 270px;
  margin-top: 117px;
  color: white;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 50px;
  font-family: "iCiel Koni Black";
}

#damsenlogo {
  position: absolute;
  margin-left: 142px;
  margin-top: 127px;
}

#home_background {
  position: absolute;
  width: 115vh;
  height: 95vh;
  top: 31px;
  left: 524px;
}

#news_board {
  position: absolute;
  width: 145vh;
  height: 56vh;
  top: 258px;
  left: 149px;
}

#pink_hair {
  position: absolute;
  width: 32vh;
  top: 247px;
  height: 63vh;
  right: 545px;
}

#event_description {
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 510;
  font-size: 18px;
  line-height: 27px;
  color: #23221f;
  opacity: 0.7;
  text-align: left;

  top: 286px;
  left: 217px;
}

#event-mark {
  position: absolute;
  top: 420px;
  left: 210px;
}

#event-mark > #event-line {
  list-style: none;
  padding: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

#line-mark {
  width: 23px;
  height: 25px;
  padding-right: 5px;
}

#reservation-template {
  width: 340px;
  height: 340px;
  position: absolute;
  top: 330px;
  left: 920px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#goi-dichvu {
  width: 270px;
  height: 46px;
  background: #ffffff;
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  border-radius: 10px;
  margin-bottom: 10px;
  border: rgba(179, 91, 11, 0.5);
}

#amount-ticket {
  width: 80px;
  height: 46px;
  background: #ffffff;
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 24px;
  border: rgba(179, 91, 11, 0.5);
}

#used-date {
  width: 160px;
  height: 46px;
  background: #ffffff;
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  margin-bottom: 10px;
  border-radius: 10px;
  border: rgba(179, 91, 11, 0.5);
}

#cus-name {
  width: 330px;
  height: 46px;
  background: #ffffff;
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  margin-bottom: 10px;
  border-radius: 10px;
  border: rgba(179, 91, 11, 0.5);
}

#cus-phone {
  width: 330px;
  height: 46px;
  background: #ffffff;
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  margin-bottom: 10px;
  border-radius: 10px;
  border: rgba(179, 91, 11, 0.5);
}

#cus-email {
  width: 330px;
  height: 46px;
  background: #ffffff;
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  margin-bottom: 10px;
  border-radius: 10px;
  border: rgba(179, 91, 11, 0.5);
}
#link-to-payment {
  margin: auto auto;
}

#dat-ve {
  font-family: "iCiel Koni Black";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 41px;
  letter-spacing: 0.06em;
  width: 220px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #ff000a;
  border-radius: 10px;
  border-color: #ff000a;
}
