#khung1 {
    position: absolute;
    width: 600px;
    height: 450px;
    top: 200px;
    left: 180px;
}
#khung2 {
    position: absolute;
    width: 400px;
    height: 150px;
    left: 850px;
    top: 200px;
}
#khung3 {
    position: absolute;
    width: 400px;
    height: 150px;
    left: 850px;
    top: 350px;
    border-radius: 15px;
}
#khung4 {
    position: absolute;
    width: 400px;
    height: 150px;
    left: 850px;
    top: 500px;
}

#contact-form {
    position: absolute;
    width: 550px;
    height: 400px;
    top: 225px;
    left: 205px;
}