#contact-head-title {
  position: absolute;
  text-align: center;
  font-family: "iCiel Koni Black";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 100px;
  color: #ffffff;
  display: inline;
  left: 474px;
  width: 501px;
  height: 100px;
  top: 50px;
}

#redhair {
  position: absolute;
  width: 200px;
  height: 390px;
  top: 280px;
  left: -8px;
}

#khung1 {
  position: absolute;
  width: 600px;
  height: 450px;
  top: 230px;
  left: 180px;
}
#khung2 {
  position: absolute;
  width: 400px;
  height: 150px;
  left: 850px;
  top: 230px;
}

#contact-location {
  position: absolute;
  top: 247.5px;
  left: 880px;
  height: 100px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#location-icon {
  margin: 25px 0 25px 0;
  height: 50px;
  width: 50px;
}

#contact-context {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100px;
  width: 250px;
}

#location-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  width: 250px;
  color: #12265a;
}

#location-box-content {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #23221f;
}

#khung3 {
  position: absolute;
  width: 400px;
  height: 150px;
  left: 850px;
  top: 380px;
  border-radius: 15px;
}

#contact-email {
  position: absolute;
  top: 397.5px;
  left: 880px;
  height: 100px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#email-icon {
  margin: 25px 0 25px 0;
  height: 50px;
  width: 50px;
}

#khung4 {
  position: absolute;
  width: 400px;
  height: 150px;
  left: 850px;
  top: 530px;
}

#contact-phone {
  position: absolute;
  top: 547.5px;
  left: 880px;
  height: 100px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#phoneC-icon {
  margin: 25px 0 25px 0;
  height: 50px;
  width: 50px;
}

#contact-form {
  position: absolute;
  width: 550px;
  height: 400px;
  top: 255px;
  left: 205px;
}

#name {
  width: 200px;
  height: 32px;
  background: #ffffff;
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  border-radius: 10px;
  margin: 35px 24px 24px 0;
  border: rgba(179, 91, 11, 0.5);
}

#email {
  width: 286px;
  height: 32px;
  background: #ffffff;
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  border-radius: 10px;
  margin: 35px 24px 24px 0;
  border: rgba(179, 91, 11, 0.5);
}

#phonenum {
  width: 200px;
  height: 32px;
  background: #ffffff;
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  border-radius: 10px;
  margin: 0 24px 24px 0;
  border: rgba(179, 91, 11, 0.5);
}

#address {
  width: 286px;
  height: 32px;
  background: #ffffff;
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  border-radius: 10px;
  margin: 0 24px 24px 0;
  border: rgba(179, 91, 11, 0.5);
}

#feedback {
  resize: none;
  width: 515px;
  height: 82px;
  background: #ffffff;
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  border-radius: 10px;
  border: rgba(179, 91, 11, 0.5);
}

#submit-feedback {
  display: flex;
  
  margin: 20px 0 0 177.5px;
}

.submit-btn {
  font-family: "iCiel Koni Black";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 41px;
  letter-spacing: 0.06em;
  width: 220px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #ff000a;
  border-radius: 10px;
  border-color: #ff000a;
}

::-webkit-input-placeholder,
input,
textarea {
  padding: 0 0 0 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #989a9c;
}
